<head>
  <link href='https://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet'>
<center>
  <h1>Kanban Collab</h1>
<br>
</center>
</head>
<body >
<center>
  <h2>Sign-In</h2>
<form action="/action_page.php">
  Email Address:<br>
  <input type="text" name="firstname">
  <br>
  Password:<br>
  <input type="text" name="lastname" >
  <br><br>
  <input class="button" type="submit" value="Submit">
  <br>
  <input class="button" type="submit" value="Forgot Password">
</form> 
<h6>Don't have an Account? Create one <a href="https://kanban-bmclain5.c9users.io/home/index">here!<a/></h6>
</center>
</body>