<head>
<center><h1>Kanban Collab User Log-In</h1></center>
</head>
<body>
<br>
<br>
<center>
<form action="/action_page.php">
  Email Address:<br>
  <input type="text" name="firstname">
  <br>
  Password:<br>
  <input type="text" name="lastname" >
  <br><br>
  <input type="submit" value="Submit">
</form> 
</center>
</body>