<head>
 <h3>Kanban Collab New User Creation</h3>
</head>
<body>
    <center>
<form>
     Email Address:<br>
  <input type="text" name="firstname">
  <br>
  Password:<br>
  <input type="text" name="lastname" >
  <br><br>
  <input type="text" value="Email Address">
  <br><br>
    <input type="text" value="Confirm Email Address">
  <br><br>
  <input type="password">
</form>
</center>   
    
</body>