<head>
 <center><h3>Kanban Collab New User Creation</h3></center>
</head>
<body>
    <center>
<form>
     First Name:<br>
  <input type="text" name="firstname" required>
  <br>
  Last Name:<br>
  <input type="text" name="lastname" required>
  <br>
  Email Address:<br>
  <input type="text" name="Email Address"required>
  <br>
  Enter Password:<br>
  <input type="password">
  <br>
  Confirm Password:<br>
  <input type= "password">
  <br><br>
  <input class="btnSubmit" type="button" name="Submit" value="Submit">
</form>
</center>   
</body>