body{
        border: 2.5px green ;
        border-style: solid;
}
h1{
    font-family: "Enriqueta";
    font-size: 53px;
    color:rgb(89,78,72);
}
h2{
    font-family:'Enriqueta';
    font-size:45;
    color:rgb(89,78,72);
    }
.button{
    background-color:#323232;
    color: white;
}


// Place all the styles related to the LogIn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
