body{
        color: green;
        border-style: solid;
}
.btnSubmit{
    width: 150px;
    height: 50px;
}
h1{
    font-family: "Enriqueta";
    font-size: 53px;
    color:rgb(89,78,72);
}
h2{
    font-family:'Enriqueta';
    font-size:45;
    color:rgb(89,78,72);
    }
.button{
    background-color:#323232;
    color: white;
}
