body{
    padding: 5px;
    border: 10px black;
}
form{
        border: 2.5px green ;
        border-style: solid;
}
   // Place all the styles related to the LogIn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
